.disnone{
	display: none;
}

.disblock{
	display: block;
}



.playerselection{
	margin: 10px;
}

.bolderView{
	font-weight: bold;
}

.btnAction{
	 margin: 10px;
    display: flex;
    justify-content: space-around;
}

.actionBtn{ 
	cursor: pointer;
}
 
.clrBat{
	color: #4486F9;
    font-weight: bold;
    text-transform: uppercase;
}

.clrBowl{
	color: #3CB371;
	font-weight: bold;
    text-transform: uppercase;
}
.clrKeeper{
	color: #FFA500;
	font-weight: bold;
    text-transform: uppercase;

}
.clrAllRounder{
	color: #FF69B4;
	font-weight: bold;
    text-transform: uppercase;

}

.playerstable{
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

.mat-cell, .mat-header-cell{
	text-align: justify;
}

.mat-form-field{
	margin: 0px 40px;
}